<mat-grid-list cols="1" rowHeight="530px">
    <h1 class="pageName">Borrow This Book ?</h1>
    <form class="example-form">    
        <table align="center">
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input class="textColor" matInput value="{{borrowBook?.title}}" readonly="true" >
                </mat-form-field>
            </tr>
            
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Author</mat-label>
                    <input matInput value="{{borrowBook?.author}}" readonly="true">
                </mat-form-field>
            </tr>
            
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Publisher</mat-label>
                    <input matInput value="{{borrowBook?.publisher}}" readonly="true">
                </mat-form-field>
            </tr>
            
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Summary</mat-label>
                    <textarea matInput value="{{borrowBook?.summary}}" readonly="true"></textarea>
                </mat-form-field>
            </tr>
            
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Released Date</mat-label>
                    <input matInput value="{{borrowBook?.release_date}}" readonly="true">
                </mat-form-field>
            </tr>
            
            <tr>
                <mat-form-field class="example-full-width">
                    <mat-label>Category</mat-label>
                    <input matInput value="{{category[borrowBook.category_id - 1].category_name}}" readonly="true">
                </mat-form-field>
            </tr>

            <tr>
                {{category.category_name}}
            </tr>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-outline-info" (click)="borrowConfirm()">Borrow</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="btn btn-outline-danger" href="/cancel" role="button">Cancel</a>
                </div>
            </div>
        </table>
    </form>
</mat-grid-list>

  