<button type="button" class="btn btn-outline-green" routerLink="/add">Add Book</button>
<button type="button" class="btn btn-outline-purple" routerLink="/category">Category List</button>
<br>
<br>
<mat-form-field style="margin-left: 32px; width: 16%;">
   <mat-label>Search</mat-label>
   <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8"> 

   <ng-container matColumnDef = "Id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
   </ng-container>

    <ng-container matColumnDef = "Title">
       <th mat-header-cell *matHeaderCellDef> Title</th>
       <td mat-cell *matCellDef = "let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef = "Author">
       <th mat-header-cell *matHeaderCellDef> Author </th>
       <td mat-cell *matCellDef = "let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef = "Publisher">
       <th mat-header-cell *matHeaderCellDef> Publisher </th>
       <td mat-cell *matCellDef = "let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef = "Summary">
       <th mat-header-cell *matHeaderCellDef> Summary </th>
       <td mat-cell *matCellDef = "let element" class="summary"> {{element.summary}} </td>
    </ng-container>

    <ng-container matColumnDef = "Released_date">
       <th mat-header-cell *matHeaderCellDef> Released Date</th>
      <td mat-cell *matCellDef = "let element"> {{element.release_date}} </td>
    </ng-container> 

    <ng-container matColumnDef = "Category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef = "let element">
         {{categoryList[element.category_id - 1].category_name}}
      </td>
   </ng-container> 

   <ng-container matColumnDef ="Operations" >
      <th mat-header-cell *matHeaderCellDef> Operations </th>
      <td mat-cell *matCellDef="let element" class="action-link">
         
         <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
               <button type="button" class="btn btn-outline-primary" routerLink="/edit/{{element.id}}">Edit</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
               <button type="button" class="btn btn-outline-info" routerLink="/borrow/{{element.id}}">Borrow</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
               <button type="button" class="btn btn-outline-danger" (click)="onDelete(element.id)">Delete</button>
            </div>
         </div>

   </ng-container> 

    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
  </table>