
  
::ng-deep.mat-form-field-underline {
    background-color: rgb(159, 159, 159) !important;
} 
::ng-deep.mat-form-field-ripple {
   background-color: rgb(120, 88, 199);
}
mat-label{
    color: rgb(120, 88, 199);
    
}

mat-form-field{
    margin-left: 32px; width: 16%;
}
div.searchBox{
    padding-top: 10px;
}
button.btn-borrow{
    width: 80px;
}