<button type="button" class="btn btn-outline-green" routerLink="/category/add">Add Category</button>
<button type="button" class="btn btn-outline-purple" routerLink="/book">Book List</button>
<table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8"> 

   <ng-container matColumnDef = "Id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
   </ng-container>

    <ng-container matColumnDef = "Title">
       <th mat-header-cell *matHeaderCellDef> Title</th>
       <td mat-cell *matCellDef = "let element"> {{element.category_name}} </td>
    </ng-container>

   <ng-container matColumnDef ="Operations" >
      <th mat-header-cell *matHeaderCellDef> Operations </th>
      <td mat-cell *matCellDef="let element" class="action-link">
         
         <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
               <button type="button" class="btn btn-outline-primary" routerLink="/category/edit/{{element.id}}">Edit</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
               <button type="button" class="btn btn-outline-danger" (click)="onDelete(element.id)">Delete</button>
            </div>
         </div>

   </ng-container> 

    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
  </table>