/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
    margin-top: 10px;
}
div.mat-elevation-z8{
    width: 95%;
    margin-left: 2%;
}
/* .bg-img{
     background-image: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1812/One-book-opened-hazy_3840x2160.jpg'); 
} */
form.example-form{
    margin-top: 40px;
    margin-left: 80px;
}
h1.pageName{
    padding-top: 20px;
    margin-top: 60px;
    margin-left: 40px;
}

.summary{
    width: 300px;
}

.btn-outline-purple {
    margin-left: 20px;
    color: #d362f9;
    border-color: #d362f9;
}

.btn-outline-purple:hover{
    color: #ffffff;
    background-color: #d362f9;
}

.btn-outline-green {
    margin-left: 30px;
    color: #019b4c;
    border-color: #019b4c;
}

.btn-outline-green:hover{
    color: #ffffff;
    background-color: #019b4c;
}

mat-grid-list {
    width: 45%;
    border-top: 4%;
    margin-left: 5%;
    padding-right: 5%;
    box-shadow: 0 0 20px 20px rgb(230, 230, 230);
}

div.routs{
    margin-top: 1%;
}