/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
    margin-top: 10px; 
    margin-left: 30px;
    width: 97%;
}

form.example-form{
    margin-top: 80px;
    margin-left: 80px;
}
h1.pageName{
    margin-top: 80px;
    margin-left: 60px;
}

.summary{
    width: 300px;
}

.btn-outline-purple {
    margin-left: 30px;
    color: #9500ff;
    border-color: #9500ff;
}

.btn-outline-purple:hover{
    color: #ffffff;
    background-color: #9500ff;
}

.btn-outline-green {
    margin-left: 30px;
    color: #019b4c;
    border-color: #019b4c;
}

.btn-outline-green:hover{
    color: #ffffff;
    background-color: #019b4c;
}